# Test objects directory
# This is where you put your own files for testing/debugging purposes
test/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Microsoft Visual Studio
build/msvc/Debug/
build/msvc/Release/
build/msvc/x64/
*.opensdf
*.sdf
*.suo